/* 
https://colorhunt.co/palette/fefbe9e1eeddf0a04b183a1d 
https://icones.js.org/collection/grommet-icons
https://icones.js.org/collection/gridicons
https://icones.js.org/collection/svg-spinners
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute
*/

$primaryColor: #FEFBE9;
$secondaryColor: #F0A04B;
$primaryColorText: #183A1D;